<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="leg" params="name front left">
    <joint name="${name}_hip_joint" type="revolute">
      <parent link="base_link" />
      <child link="${name}_hip" />
      <origin xyz="${front * hip_offset_x} ${left * hip_offset_y} 0" rpy="0 0 0" />
      <axis xyz="1 0 0" />

      <xacro:if value="${left == 1}">
        <limit effort="${hip_torque_max}" velocity="${hip_velocity_max}"
          lower="${hip_position_min}" upper="${hip_position_max}" />
      </xacro:if>
      <xacro:if value="${left == -1}">
        <limit effort="${hip_torque_max}" velocity="${hip_velocity_max}"
          lower="${-hip_position_max}" upper="${-hip_position_min}" />
      </xacro:if>
    </joint>

    <link name="${name}_hip">
      <visual>
        <origin xyz="0 0 0" rpy="${(1 - left) / 2 * pi + left * 0.5 * pi} ${(1 - front) / 2 * pi} 0" />
        <geometry>
          <mesh filename="package://sfg_go2_description/mesh/hip.glb" />
        </geometry>
      </visual>
    </link>

    <joint name="${name}_thigh_joint" type="revolute">
      <parent link="${name}_hip" />
      <child link="${name}_thigh" />
      <origin xyz="0 ${left * thigh_offset_y} 0" rpy="0 0 0" />
      <axis xyz="0 1 0" />

      <limit effort="${thigh_torque_max}" velocity="${thigh_velocity_max}"
        lower="${thigh_position_min}" upper="${thigh_position_max}" />
    </joint>

    <link name="${name}_thigh">
      <visual>
        <origin xyz="0 0 0" rpy="${left * 0.5 * pi} 0 0" />
        <geometry>
          <mesh filename="package://sfg_go2_description/mesh/thigh.glb"
            scale="1 ${left} 1" />
        </geometry>
      </visual>
    </link>

    <joint name="${name}_calf_joint" type="revolute">
      <parent link="${name}_thigh" />
      <child link="${name}_calf" />
      <origin xyz="0 0 ${-thigh_length}" rpy="0 0 0" />
      <axis xyz="0 1 0" />

      <limit effort="${calf_torque_max}" velocity="${calf_velocity_max}"
        lower="${calf_position_min}" upper="${calf_position_max}" />
    </joint>

    <link name="${name}_calf">
      <visual>
        <origin xyz="0 0 0" rpy="${left * 0.5 * pi} 0 0" />
        <geometry>
          <mesh filename="package://sfg_go2_description/mesh/calf.glb"
            scale="1 ${left} 1" />
        </geometry>
      </visual>
    </link>

    <joint name="${name}_foot_joint" type="fixed">
      <parent link="${name}_calf" />
      <child link="${name}_foot" />
      <origin xyz="0 0 ${-calf_length}" rpy="0 0 0" />
    </joint>

    <link name="${name}_foot" />
  </xacro:macro>
</robot>